@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("/Img/main4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* text-align: end; */
}

.main-og {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.body {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-image: url("/Img/Fon3.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  text-align: end;
}

.text-1,
.text-2,
.text-3,
.text-4 {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
  line-height: 18px;
  width: auto;
  margin-bottom: 10px;
}

.clock {
  display: flex;
  width: 100%;
  justify-content: center;
}

.day,
.hour,
.minute,
.second {
  border-right: 0.5px solid white;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day > span,
.hour > span,
.minute > span,
.second > span {
  font-size: 15px;
  line-height: 14px;
}

.day > strong,
.hour > strong,
.minute > strong,
.second > strong {
  font-size: 28px;
}

.second {
  border: none;
}

.tragir {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
}

.Psak {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: space-between; */
  /* font-size: 22px; */
}

.time {
  font-size: 20px;
}

.svg-matani {
  background-image: url("https://static.tildacdn.com/tild3938-3137-4435-b765-363361613631/Matani.svg");
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
}

.gps,
.camera,
.inf {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.tragir > strong {
  margin-bottom: 15px;
}

.tragir-git {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: goldenrod;
}

.svg-bakal {
  background-image: url("https://static.tildacdn.com/tild3132-3834-4531-a265-393231616562/Bazhak.svg");
  width: 55px;
  height: 55px;
}

.vair {
  font-size: 13px;
  /* text-align: center; */
}

.vair > strong {
  font-size: 22px;
}

.jamanci-kentronner {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.ekexeci,
.srah {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.srah > strong,
.ekexeci > strong {
  font-size: 18px;
}

.srah > p,
.srah > strong,
.ekexeci > p,
.ekexeci > strong {
  margin-bottom: 10px;
  text-align: center;
}

.srah {
  margin-bottom: 100px;
}

.ekexeci {
  margin-bottom: 30px;
}

.khorvirap,
.evropa {
  width: 55%;
  border-radius: 3%;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
}

iframe {
  width: 55%;
  border-radius: 3%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.39);
}

@media screen and (max-width: 600px) {
  .khorvirap,
  .evropa {
    width: 80%;
  }
  iframe {
    width: 80%;
  }
}
